button {
    background: #5392db;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    border: none;

    font-weight: bold;
    color: #eee;

    cursor: pointer;

    transition: 0.3s background-color;
}

button:hover {
    background-color: #7da9db;
}

button:active {
    background-color: #afbecf;
}

div {
    margin: 2px;
    padding: 6px;
    border: 1px solid black;

    border-radius: 4px;
}

div.controls {
    border: none;
}

/* Exists on widgets that have finished initialization. Lingers after destruction. */
.widget-ready {
    background: palegreen;
}

/* Only exists during the initialization period. */
.widget-loading {
    background: palegoldenrod;
}

/* Exists on widgets that were once initialized, but were destroyed at some point. Lingers after destruction. */
.widget-destroyed {
    background: palevioletred;
}